# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local

server/node_modules
server/config/.env.local
AuthApp/node_modules
AuthApp/.env
server/config/hobbinder-c9376-firebase-adminsdk-49tah-578c8bf73e.json
